<nav class="nav navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/main" class="navbar-brand"><img src="assets/chef.png"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active_route"><a routerLink="/reserve">Reserve a table</a></li>
        <li routerLinkActive="active_route"><a routerLink="/signup">Create an account</a></li>
        <li routerLinkActive="active_route"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active_route"><a routerLink="/admin-panel">Admin panel</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <button class="logout">Log out</button>
      </ul>
    </div>
  </div>
</nav>

