.seeyou {
  margin: 200px auto auto auto;
  text-align: center;
  background: rgba(255,255,255,0.7);
  font-size: 30px;
  padding: 10px;
  max-width: 300px;
  border-radius:5px;
  font-weight: 200;
  color: #1F618D;
}
