<div class="title">
  <p>Backend is written in Java (mostly Spring and Hibernate) and is almost finished. Frontend is still in progress
    and I'm using Angular to create it.</p>
  <br/>
  <br/>
  <p>Application's functions: </p>
  <ul>
    <li>inserting reservations and table's details into the database,</li>
    <li>displaying reservations - https://lit-crag-25227.herokuapp.com/v1/reservations</li>
    <li>displaying tables - https://lit-crag-25227.herokuapp.com/v1/tables</li>
    <li>displaying free tables - https://lit-crag-25227.herokuapp.com/v1/tables/free</li>
    <li>deleting a table and a reservation,</li>
    <li>automatic deletion of overdue reservations,</li>
    <li>sending a confirmation email after booking a table,</li>
  </ul>
</div>
