<div class="panelA">
  <form #postForm="ngForm" (ngSubmit)="onCreateTable(postForm.value)">
    <div class="row">
      <div class="form-group">
        <h3>New table</h3>
        <hr>
        <label>Number of the table</label>
        <input
          type="number"
          id="tableNumber"
          class="form-control"
          placeholder="Type table's number"
          required minlength="1"
          ngModel
          name="tableNumber"
        >
        <br/>
        <label>Seats quantity</label>
        <input
          type="number"
          id="seatsQuantity"
          class="form-control"
          placeholder="Type seat's quantity"
          required minlength="1"
          ngModel
          name="seatsQuantity"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-primary" type="reset">Clear</button>
      </div>
    </div>
  </form>
</div>

<app-reservations></app-reservations>

