<div class="nextto">
  <form class="panelA" #postForm="ngForm" (ngSubmit)="onCreateTable(postForm.value)">
        <h3>NEW TABLE</h3>
        <label>Number of the table:</label>
        <input
          type="number"
          id="tableNumber"
          class="form-control"
          placeholder="Type table's number"
          required minlength="1"
          ngModel
          name="tableNumber"
        >
        <label>Seats quantity:</label>
        <input
          type="number"
          id="seatsQuantity"
          class="form-control"
          placeholder="Type seat's quantity"
          required minlength="1"
          ngModel
          name="seatsQuantity"
        >
    <div class="buttons">
      <button type="submit">Submit</button>
      <button type="reset">Clear</button>
    </div>

  </form>
<app-displayedtables></app-displayedtables>
</div>
<app-reservations></app-reservations>

