
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-facebook-1:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */